  
#container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
    margin-left: 8rem;
    margin-right: 5rem;
    margin-top: -3 rem;
    //align-items: flex-end;
    width: auto;
}