<div class="register">

    <mat-card class="card">
    
        <mat-card-header>
            
            <mat-card-title class="title">Registration</mat-card-title>
        </mat-card-header>
    
        <div class="content">
            <mat-card-content>
    
                <mat-form-field appearance="outline" class="label">
                    <mat-label>UserName</mat-label> 
                      <input matInput placeholder="name" type="text"  >
                  </mat-form-field>
    
                  <mat-form-field appearance="outline" class="label">
                    <mat-label>Email</mat-label> 
                      <input matInput placeholder="email" type="email" >
                  </mat-form-field>
    
                  <mat-form-field appearance="outline" class="label">
                    <mat-label>Password</mat-label> 
                      <input matInput placeholder="password" type="password"  >
                  </mat-form-field>
    
                  <mat-form-field appearance="outline" class="label">
                    <mat-label>PhoneNo</mat-label> 
                      <input matInput placeholder="phoneNo" type="text"  >
                  </mat-form-field>
    
                  <mat-card-actions>
                    <button  mat-raised-button color="primary" type="submit">Register
                    </button>
                </mat-card-actions>
            </mat-card-content>
        </div>
    </mat-card>
    
    
        </div>