  
<div class="dashboard">
    <div>
<mat-toolbar>
    <mat-toolbar-row>

        <span>
            <button  mat-icon-button class="menu" (click)="sidenav.toggle()" class="menu">

              <mat-icon>menu</mat-icon>
            </button>
        </span>

        <img class="fundoo-icon" src="https://www.gstatic.com/images/branding/product/1x/keep_48dp.png" 
        srcset="https://www.gstatic.com/images/branding/product/1x/keep_48dp.png 1x, https://www.gstatic.com/images/branding/product/2x/keep_48dp.png 2x "
         alt="" aria-hidden="true" style="width:40px;height:40px">
            <span>Fundoo</span>

            <div class="search">
       
      <button mat-icon-button  class="search-icon"> 
        <mat-icon>search</mat-icon>
      </button>
      <input type="text" placeholder="Search" class="search-input" >
    </div>
         <mat-divider class="divider"></mat-divider>
    <div class="rightside-icons">
        <button mat-icon-button class="refresh">
          <mat-icon>refresh</mat-icon>
        </button>
        <button mat-icon-button class="grid">
          <mat-icon>grid_view</mat-icon>
        </button>
        <button mat-icon-button class="setting">
          <mat-icon>settings</mat-icon>
        </button>

      </div>

      <div class="logout">
        <button  mat-button  (click)="onClick()" color="primary">LogOut</button>
      </div>

    </mat-toolbar-row>
  

    </mat-toolbar>
</div>
<div class="sidenav">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav class="matSidenav" #sidenav mode="side" >
      <div>
        <button mat-button class="navbutton">
          <mat-icon class ="sidenav-icon">lightbulb_outline</mat-icon>
           <span class= "icon-label">Notes</span>
           </button>
      </div>
      <mat-divider class="divider"></mat-divider>
           <div>
           <button mat-button class="navbutton">
            <mat-icon class ="sidenav-icon">notifications_none</mat-icon>
              <span class="icon-label">Reminders</span>
             </button>
    </div>

   <mat-divider class="divider"></mat-divider>

   <div>
       <div>
           <button mat-button class="navbutton">
               <mat-icon class ="sidenav-icon">create</mat-icon>
              <span class="icon-label">Edit labels</span>
              </button>
       </div>
   </div>
   <mat-divider class="divider"></mat-divider>

   <div>
    <button mat-button class="navbutton">
       <mat-icon class ="sidenav-icon">archive</mat-icon>
       <span class="icon-label">Archive</span>
      </button>
</div>
<mat-divider class="divider"></mat-divider>
<div >
    <button mat-button class="navbutton">
      <mat-icon class ="sidenav-icon">delete</mat-icon>
      <span class= "icon-label">Trash</span>
      </button>
</div>


    </mat-sidenav>



    <mat-sidenav-content class="sideContent">
      <app-createnotes></app-createnotes>
      <router-outlet ></router-outlet>
      
      <!-- <app-displaynotes></app-displaynotes> -->
    </mat-sidenav-content>

    </mat-sidenav-container>


</div>




</div>
