
<div class="container" >
    <div class="mat-display"  >
        <mat-card [ngStyle]="{ 'background-color': note.color }">
            <div *ngIf="!note.pinned" class="pin-div">
                <button mat-icon-button class="pin" (click)="pinNote()">
                  <mat-icon matTooltip="pin note">
                    <img src="../../../assets/icons/pinned.svg" style="width: 25px;height: 25px;" [ngStyle]="{ 'background-color': note.color }">
                  </mat-icon>
                </button>
              </div>
              <div *ngIf="note.pinned" class="pin-div">
                <button mat-icon-button class="pin" (click)="pinNote()">
                  <mat-icon matTooltip="unpin note">
                    <img src="../../../assets/icons/notpinned.svg" style="width: 25px;height: 25px;">
                  </mat-icon>
                </button>
              </div>
            <div class="mat-title"  (click)="!note.trashed && open(note)">
                <mat-card-title>
                    {{ note.title }}
                </mat-card-title>
            </div>
            <div class="mat-desc" (click)="!note.trashed && open(note)" >
                <mat-card-content>
                  <textarea style="border: none;font-size:16px;font-style: normal;color: #000;" class="textArea"
                  cdkTextareaAutosize disabled  
                  [ngStyle]="{'background-color':note.color}"
               >
                    {{ note.description }}
                  </textarea>
                </mat-card-content>
              </div>
            <div
            *ngIf="
            !note.trashed;
            else trashedNote " >
            <app-icons [note]="note"></app-icons>
            </div>
            <ng-template #trashedNote>
              <div class="trashcard">
                <mat-card-footer>
                  <button mat-icon-button   (click)="deletePermanently()">
                    <mat-icon matTooltip="Delete forever">delete_forever</mat-icon>
                  </button>
                  <button mat-icon-button matTooltip="Restore" (click)="RestoreNote()">
                    <mat-icon>restore_from_trash</mat-icon>
                  </button>
                </mat-card-footer>
              </div>
            </ng-template>
        </mat-card>
    </div>
</div>