
<div class="container" >
    <div class="mat-display"  >
        <mat-card [ngStyle]="{ 'background-color': note.color }">
            <div *ngIf="!note.pinned" class="pin-div">
                <button mat-icon-button class="pin" (click)="pinNote()">
                  <mat-icon matTooltip="pin note">
                    <img src="../../../assets/icons/pinned.svg" style="width: 25px;height: 25px;" [ngStyle]="{ 'background-color': note.color }">
                  </mat-icon>
                </button>
              </div>
              <div *ngIf="note.pinned" class="pin-div">
                <button mat-icon-button class="pin" (click)="pinNote()">
                  <mat-icon matTooltip="unpin note">
                    <img src="../../../assets/icons/notpinned.svg" style="width: 25px;height: 25px;">
                  </mat-icon>
                </button>
              </div>
            <div class="mat-title">
                <mat-card-title>
                    {{ note.title }}
                </mat-card-title>
            </div>
            <div class="mat-desc">
                <mat-card-content>
                    {{ note.description }}
                </mat-card-content>
            </div>
            <!-- <div class="note-icon">
                <button mat-icon-button>
                    <mat-icon matTooltip="Remind me">notifications_none</mat-icon>
                </button>
                <button mat-icon-button>
                    <mat-icon matTooltip="Collaborator">person_add</mat-icon>
                </button>
                <button mat-icon-button [matMenuTriggerFor]="menu1">
                    <mat-icon matTooltip="Add color">color_lens</mat-icon>
                </button >
                <mat-menu #menu1="matMenu" >
                    <div *ngFor="let colors of colorsList" fxLayout="row">
                      <div *ngFor="let color of colors" class="colorsList">
                        <button [ngStyle]="{ 'background-color': color.colorCode }"
                            (click)="changeColor(color)"
                            matTooltip="{{ color.name }}"
                            mat-mini-fab
                          ></button>
                      </div>
                    </div>
                  </mat-menu>
                <button mat-icon-button>
                    <mat-icon matTooltip="Add image">crop_original</mat-icon>
                </button>
                <div *ngIf="!note.archieved">
                <button mat-icon-button (click)="archieveNote()">
                    <mat-icon matTooltip="Archive">archive</mat-icon>
                </button>
            </div>
            <div *ngIf="note.archieved">
                <button mat-icon-button (click)="archieveNote()">
                    <mat-icon matTooltip="unarchive">unarchive</mat-icon>
                </button>
            </div>
                <button mat-icon-button>
                <mat-icon matTooltip="More" [matMenuTriggerFor]="menu">more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="deleteNote()">
                  Delete Note
                </button>
                <button mat-menu-item>
                  Add label
                </button>
              </mat-menu>
            </div> -->
            <div
            *ngIf="
            !note.trashed;
            else trashedNote " >
            <app-icons [note]="note"></app-icons>
            </div>
            <ng-template #trashedNote>
              <div class="trashcard">
                <mat-card-footer>
                  <button mat-icon-button>
                    <mat-icon matTooltip="Delete forever">delete_forever</mat-icon>
                  </button>
                  <button
                    mat-icon-button
                    matTooltip="Restore"
                  >
                    <mat-icon>restore_from_trash</mat-icon>
                  </button>
                </mat-card-footer>
              </div>
            </ng-template>
        </mat-card>
    </div>
</div>