<div class="forgotpassword">

    <mat-card class="card">
    
        <mat-card-header>
            
            <mat-card-title class="title">Find Your Account</mat-card-title>
        </mat-card-header>
    
        <div class="content">
            <mat-card-content>
    

    
                  <mat-form-field appearance="outline" class="label">
                    <mat-label>Email</mat-label> 
                      <input matInput placeholder="email" type="email" [formControl]="email" >
                      <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
                  </mat-form-field>
    
    
                  <mat-card-actions>
                    <button
                      mat-raised-button
                      color="primary"
                      type="submit"
                      (click)="onSubmit()"
                    >
                      Submit
                    </button>
                </mat-card-actions>

    
            </mat-card-content>
        </div>
    </mat-card>
    
    
        </div>
    
