<div class="resetPassword" >
    <mat-card  >
      <mat-card-header>
       <div mat-card-avatar ></div>
        <mat-card-title>
          <h2>Set Password</h2>
        </mat-card-title>
      </mat-card-header>
      <div class="content" >
      <mat-card-content  >
        <mat-form-field >
          <input matInput placeholder="Password" type="password">
        </mat-form-field>
        <mat-form-field >
          <input matInput placeholder="Confirm Password" type="password">
        </mat-form-field>
       <button mat-raised-button (click)="onSubmit()" type="submit">Set Password</button>
      </mat-card-content>
    </div>
    </mat-card>
  </div>

