<div class="resetPassword">

  <mat-card class="card">
  
      <mat-card-header>
          
          <mat-card-title class="title">Reset Password</mat-card-title>
      </mat-card-header>
  
      <div class="content">
          <mat-card-content>
  
  
                <mat-form-field appearance="outline" class="label">
                  <mat-label>Password</mat-label> 
                    <input matInput placeholder="password" [type]="hide ? 'text' : 'password'" [formControl]="password">
                    <button mat-icon-button matSuffix (click)="hide = !hide" >
                      <mat-icon>{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                      </button>
                    <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="label">
                  <mat-label>Confirm Password</mat-label> 
                    <input matInput placeholder="Confirm Password" [type]="hide1 ? 'text' : 'password'" [formControl]="confirmPassword">
                    <button mat-icon-button matSuffix (click)="hide1 = !hide1" >
                      <mat-icon>{{hide1 ? 'visibility' : 'visibility_off'}}</mat-icon>
                      </button>
                    <mat-error *ngIf="confirmPassword.invalid">{{getConfirmPasswordErrorMessage()}}</mat-error>
                </mat-form-field>
  
                <mat-card-actions>
                  <button
                    mat-raised-button
                    color="primary"
                    type="submit"
                    (click)="onSubmit()"
                    
                  >
                    reset
                  </button>
              </mat-card-actions>
  
          </mat-card-content>
      </div>
  </mat-card>
  
  
      </div>
