<div class="verify">

    <mat-card class="card">
    
        <mat-card-header>
            
            <mat-card-title class="title">Fundoo User verification</mat-card-title>
        </mat-card-header>
    
        <div class="content">
            <mat-card-content>
                  <mat-card-actions>
                    <button
                      mat-raised-button
                      color="primary"
                      type="submit"
                      (click)="onSubmit()"
                    >
                      verify
                    </button>
                </mat-card-actions>

    
            </mat-card-content>
        </div>
    </mat-card>
    
    
        </div>
