<div class="createnotes" >
    <mat-card  class="matcard" *ngIf="!open" (click)="openNote()">
        <input matInput class="input" placeholder="Take a note...">
        <div class="icon-div">
            <mat-icon matTooltip="New list">check_box</mat-icon>
            <mat-icon matTooltip="New note with drawing">brush</mat-icon>
            <mat-icon matTooltip="New note with image">crop_original</mat-icon>
        </div>
    </mat-card>

    <mat-card class="note-matcard"  *ngIf="open"  fxLayout="column">
        <textarea matInput type="text" placeholder="Title" [formControl]="title"></textarea>
        <textarea matInput type="text" placeholder="Take a note" [formControl]="description"></textarea>
        <div class="icons">
            <mat-icon matTooltip="Remind me" [matMenuTriggerFor]="reminder">notifications_none</mat-icon>
            <mat-icon matTooltip="Collaborator">person_add</mat-icon>
            <mat-icon matTooltip="Change color">color_lens</mat-icon>

            <mat-icon matTooltip="Archive">archive</mat-icon>
            <mat-icon matTooltip="Add image">crop_original</mat-icon>
            <mat-icon matTooltip="More" >more_vert</mat-icon>
            <mat-icon matTooltip="Undo" >undo</mat-icon>
            <mat-icon matTooltip="Redo">redo</mat-icon>
            
     
        <div (click)="open=!open">
            <button mat-button (click)="onSubmit()" class="close">Close</button> 
    </div>
</div>
<mat-menu #reminder="matMenu">
    <div style="margin: 20px;">
      Reminder:
    </div>

    <button class="matmenu" mat-menu-item (click)="today()">Later today
      <span style="margin-left: 100px;">08:00 PM</span>
    </button>

    <button class="matmenu" mat-menu-item (click)="tommorrow()">Tomorrow
      <span style="margin-left: 110px;">08:00 AM</span>
    </button>

    <button class="matmenu" mat-menu-item>Next week
      <span style="margin-left: 75px;">Mon, 08:00 AM</span>
    </button>

    <button class="matmenu" mat-menu-item>
      <mat-icon style="font-size: 18px; margin: 1px;">access_time</mat-icon>
      <span>Pick date & time</span>
    </button>
    
    <button mat-menu-item><mat-icon>place</mat-icon>Pick place</button>
  </mat-menu>
   </mat-card>

    </div>